.card-body {
  width: 18rem;
}
.card-headings {
  padding: 10px;
}
.cartHeadings {
  display: flex;
  gap: 10px;
}
.cartImg img {
  width: 18rem;
}
.brand {
  color: gray;
}
.modelType {
  color: gray;
}
.card-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.btn {
  font-size: 24px;
  padding: 16px;
  cursor: pointer;
  text-decoration: none;
  color: rgb(88, 88, 235);
  font-weight: 700;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .card-body {
    width: 24rem;
  }
  .cartHeadings {
    display: block;
  }
  .cartImg img {
    width: 20rem;
  }
}
