.shopModel {
  width: 95vw;
  margin: 0 auto;
}
.shopModel img {
  width: 36rem;
}
.bodyType,
.modelType {
  color: gray;
}
.shopHeadings {
  display: flex;
  justify-content: space-between;
  margin: 5px;
  padding: 10px;
}
.gotoshop {
  padding: 7px;
  background-color: rgb(11, 175, 175);
  border: none;
  outline: none;
  color: white;
}
.gotoshop .shopLink {
  color: white;
}
@media only screen and (max-width: 600px) {
  .shopModel img {
    width: 22rem;
  }
}
