.navContainer ul {
  display: flex;
  gap: 20px;
  width: 100vw;
  margin: 0 auto;
  padding: 20px;
  align-items: center;
  background-color: black;
  color: white;
  justify-content: space-between;
}

.leftData {
  display: flex;
  gap: 10px;
}

.navLink {
  color: white;
}
